{
  "EDITION_TYPE": "{{ eaasi_ui_edition }}",
  "BASE_URL": "{{ eaasi_ui_base_url }}",
  "SERVICE_URL": "{{ eaasi_ui_base_url }}/api/eaasi_app",
  "REST_API_URL": "{{ eaasi_ui_base_url }}/api/resource_metadata",
  "EMIL_SERVICE_ENDPOINT": "{{ eaas_server_base_url }}/emil",
  "KEYCLOAK_URL": "{{ keycloak_frontend_url }}/",
  "KEYCLOAK_CLIENT_ID": "{{ keycloak_client_id }}",
  "KEYCLOAK_CLIENT_SCOPE": "roles",
  "KEYCLOAK_REALM": "master",
  "JWT_NAME": "{{ eaasi_ui_client_jwt_name }}",
  "NODE_NAME": "{{ eaasi_ui.organization.name | default('EaaSI') }}",
  "SHOW_DEBUG_ERRORS": {{ eaasi_ui.debug.show_errors | default(false) | lower }}
}