version: "{{ docker_compose_file_version }}"

networks:
  {{ docker_network_name }}:
    name: {{ docker_network_name }}

services:
  eaasi-nginx:
{% if eaas_workaround_docker_hub_ratelimits %}
    image: "mirror.gcr.io/library/nginx:stable"
{% else %}
    image: nginx:stable
{% endif %}
    container_name: eaasi-nginx
    depends_on:
    - eaasi-front-end
    - eaasi-web-api
    volumes:
    - {{ eaasi_ui_proxy_dir }}/nginx.conf:/etc/nginx/nginx.conf
    - {{ eaasi_ui_proxy_dir }}/cache:/etc/nginx/cache
{% if docker_ssl_enabled %}
    - {{ eaasi_ui_ssl_certificate | dirname }}:/etc/nginx/certs
{% endif %}
    networks:
    - {{ docker_network_name }}
    ports:
    - {{ eaasi_ui_proxy_port }}:{{ eaasi_ui_proxy_port }}
{% if docker_ssl_enabled %}
    - {{ eaasi_ui_proxy_port_ssl }}:{{ eaasi_ui_proxy_port_ssl }}
{% endif %}
    restart: always

  eaasi-front-end:
    image: "{{ eaasi_ui_registry }}/eaasi-front-end:{{ eaasi_ui_version }}"
    container_name: eaasi-front-end
    networks:
    - {{ docker_network_name }}
    expose:
    - {{ eaasi_ui_frontend_internal_port }}
    volumes:
    - {{ eaasi_ui_frontend_config_file }}:/app/config.json:ro
    restart: on-failure

  eaasi-web-api:
    image: "{{ eaasi_ui_registry }}/eaasi-web-api:{{ eaasi_ui_version }}"
    container_name: eaasi-web-api
    init: true
    depends_on:
     - eaasi-database
    env_file:
    - {{ eaasi_ui_webapi_env_file }}
    networks:
    - {{ docker_network_name }}
    external_links:
    - eaasi-nginx:{{ eaas_hostname }}
    expose:
    - {{ eaasi_ui_webapi_internal_port }}
{% if eaasi_ui_migrations_enabled %}
    volumes:
    - {{ eaasi_ui_migrations_export_dir }}:/app/dist/data_access/exports
    - {{ eaasi_ui_migrations_config_file }}:/app/dist/data_access/migrations.json
{% endif %}
    restart: on-failure

  eaasi-database:
    image: "{{ eaasi_ui_registry }}/eaasi-database:{{ eaasi_ui_version }}"
    container_name: eaasi-database
    init: true
    env_file:
    - {{ eaasi_ui_database_env_file }}
    networks:
    - {{ docker_network_name }}
    expose:
    - {{ eaasi_ui_database_internal_port }}
    volumes:
    - {{ eaasi_ui_database_dir }}:/var/lib/postgresql/data
    restart: on-failure
