NODE_ENV=production
JWT_SECRET={{ eaasi_ui_client_jwt_secret }}
EXPRESS_PORT={{ eaasi_ui_webapi_internal_port }}
EAASI_CLIENT_URL={{ eaasi_ui_base_url }}/
HOST_DOMAIN={{ eaasi_ui_client_jwt_host_domain }}

# EaaS endpoints
EAAS_JAVA_SERVICE_URL={{ eaas_server_base_url }}
EMIL_SERVICE_ENDPOINT={{ eaas_server_base_url }}/emil
IMAGE_ARCHIVE_SERVICE_ENDPOINT={{ eaas_server_base_url }}/imagearchive
OBJECT_ARCHIVE_SERVICE_ENDPOINT={{ eaas_server_base_url }}/objectarchive
OAI_PMH_SERVICE_ENDPOINT={{ eaas_server_base_url }}/oaipmh
EAAS_SERVICE_ENDPOINT={{ eaas_server_base_url }}/eaas
SOFTWARE_ARCHIVE_SERVICE_ENDPOINT={{ eaas_server_base_url }}/softwarearchive

# Database variables
DB_USERNAME={{ eaasi_ui_db_app_user }}
DB_PASSWORD={{ eaasi_ui_db_app_password }}
DB_NAME={{ eaasi_ui_db_name }}
DB_HOST=eaasi-database
DB_PORT={{ eaasi_ui_database_internal_port }}

KEYCLOAK_URL={{ keycloak_frontend_url }}
KEYCLOAK_CLIENT_ID={{ keycloak_client_id }}
KEYCLOAK_REALM=master
{% if eaasi_ui_migrations_enabled %}
KEYCLOAK_ADMIN_USERNAME={{ keycloak_admin_user }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
{% endif %}
